body{
    background-color: white;
}
.nav-link{
    color: #E73725;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake-animation {
    animation: shake 0.5s;
}

.hover-grow-shrink:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.hover-grow-shrink {
    transition: transform 0.3s ease;
}